.btn {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    filter: brightness(90%);
  }
  .icon {
    margin: 0;
    padding: 0;
    padding: 1rem;
    aspect-ratio: 1/1;
    color: black;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
  }
}
