.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.page.show-shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 40vh solid var(--primary-color, blue);
  border-left: 100vw solid transparent;
  z-index: -1;
}
