.page {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  display: flex;
  position: relative;
  min-height: fit-content;
}

.page.show-shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 40vh solid var(--primary-color, blue);
  border-left: 100vw solid transparent;
  z-index: -1;
}
