.input {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--primary-color,black);
  justify-content: space-between;
  position: relative;
  .icon{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
  }
}

.input > input {
  margin-top: 0.6rem;
  border: none;
  font-size: var(--font-size-medium);
  width: 100%;
  letter-spacing: 0.05rem;
  font-weight: 500;
  border-bottom: 0.2rem solid var(--primary-color,black);
  background-color: transparent;
  position: relative;
  height: auto;
}

.input > input:focus {
  outline: none;
  padding: 0;
}

.invalid > input {
  color: red;
  border-bottom: 0.2rem solid var(--error-color,red);
}

.invalid{
  color:red;
    position: relative;
}

.invalid>.invalid-text{
    display: block;
    position: absolute;
    font-size: calc(var(--font-size-medium) - 0.5em);
    top: 50%;
    transform: translateY(-50%);
    left: 0.2rem;
    color: var(--error-color,red);
}

.invalid-text{
    display: none;
}
