.img {
  /* height: calc(var(--nav-height) - 10px);
  width: 20vw;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  cursor: pointer; */
  margin-left: min(5vw,20px);
  cursor: pointer;
}

.nav {
  height: var(--nav-height);
  width: 100vw;
  max-width: 100vw;
  background-color: var(--nav-color, white);
}

.nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: min(1vw,1em);
  font-size: min(5vw,1.3rem);
  height: inherit;
}

.tabs > a {
  display: flex;
  align-items: center;
  padding: 0 min(1vw,1em);
  height: inherit;
  font-weight: 600;
  position: relative;
  color:black;
  transition: color ease-in-out 0.5s;
  background-color: var(--nav-color, white);
}

.tabs > a::before {
    content: "";
    display: block;
    width: 100%;
    height: 0%;
    background-color: var(--primary-font-color);
    filter: invert(100%);
    mix-blend-mode: difference;
    bottom:0;
    left: 0;
    transition: all ease-in-out 0.5s;
    position: absolute;
}

.tabs>a:hover{
    color:var(--primary-font-color);
}

.tabs > a:hover::before {
  height: 100%;
}

