@import "../../styles/variables.scss";

.lm {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  gap: 1vw;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: $first-break-point) {
  .lm {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $second-break-point) {
  .lm {
    grid-template-columns: repeat(1, 1fr);
  }
}
